* {
    font-family: Arial, Helvetica, sans-serif;
}

.mainTitle {
    font-family: DejaVu Sans Mono, monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.movieContainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
}
.movieContainerPage {
    padding: 20px;
}
/*styles for movie card*/
.movieCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px grey;
    padding-bottom: 15px;

}
.movieCard:hover {
    transition: 1s;
    box-shadow: 0 0 10px grey;
}
.movieLink {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.movieLink:visited{
    color: #000;
}
.movieTitle {
    margin-top: 15px;
    font-family: URW Chancery L, cursive;
}
.genresText {
    color: gray;
    font-size: 12px;
    margin-bottom: 10px;
}
.textDescription {
    font-size: 12px;
    padding-bottom: 4px;
}
.iconsBox {
    width: 100%;
    display: flex;
    border-top: 1px solid grey;
    margin-top: 20px;
    padding-top: 0;
}
.counter {
    font-size: 24px;
    display: block;
}
.ratingIcon {
    color: #FFD900;
    font-size: 24px;
}
.likeBoxWrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 2px;
    border-left: 1px solid slategrey;
}
.likeBoxWrapper:hover {
    cursor: pointer;
}
.likeText {
    margin-top: 8px;
    margin-left: 3px;
}
.ratingBoxWrapper {
    width: 50%;
}
.noImg {
    width: 210px;
    height: 295px;
}
.inputSearch {
    display: block;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 2px;
}
.favourite {
    text-align: center;;
    padding: 5px;
    border: 2px solid #FD5800;
    border-radius: 3px;
    font-size: 14px;
}
.favourite:hover {
    color: #fff;
    background-color: #FD5800;
    transition: 1s;
}
.favouriteWrapper {
}
.favourite:hover {
    cursor: pointer;
}

.likesAmount {
    color: black;
}

.likesAmount:hover {
    cursor: pointer;
}

.activeLike {
    color: red;
}
/*style for radiobutton genres*/
.radioButtonWrapper {
    /*background-color: pink;*/
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.radioButton {
    /*display: block;*/
    padding-bottom: 10px;
    margin-left: 10px;
}
.radioButton label {
    display: inline-block;
    margin-left: 3px;
    border: 1px solid red;
    border-radius: 7px;
    padding: 5px;
}
.radioButton label:hover {
    cursor: pointer;
    background-color: red;
    color: white;

}
.radioInput {
    display: none;
}
.radioInput:checked+label{
    background-color: red;
    color: white;
}
/*end styles for radiobutton*/